.header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.header_button {
    background-color: #5222D0;
    border-radius: 100px;
    font-family: 'Intro ';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFf;
    border: none;
    padding: 15px;
    height: 90%;
}

.footer_navigation {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: #5222D0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.footer_notext {
    display: none;
}

.main_text_button {
    background-color: #5222D0;
    border-radius: 100px;
    font-family: 'Intro ';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    color: #FFFFFF;
    padding: 20px;
    margin-left: 0.5em;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    padding: 20px;
    margin-left: 2em;
    margin-right: 2em;
}

.main_section {
    margin-left: 1em;
}

.main_section_head1 {
    font-family: 'Intro ';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
    padding: 20px;
}

.main_section_head2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: #000000;
    padding: 20px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}

li:hover {
    opacity: 0.8;
}

li {
    list-style-type: none;
    padding: 3px;
}

a {
    text-decoration: none;
}